@use './variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 100%;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1215px;
    margin: 0 auto;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    color: $neutral-800;
}
