$secondary-color: #f9995d;
$primary-color: #2947a9;
$neutral-800: #292e3d;
$neutral-700: #3d445c;
$neutral-400: #858ead;
$neutral-100: #e0e3eb;
$neutral-50: #f6f8f7;
$shadow-1: 0px 20px 24px -4px rgba(17, 24, 39, 0.1),
    0px 8px 8px -4px rgba(17, 24, 39, 0.04);
