* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 100%;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1215px;
  margin: 0 auto;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  color: #292e3d;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__nav .nav-list {
  display: flex;
  gap: 52px;
}
.header__nav .nav-list-item:last-child {
  color: #f9995d;
}
.header__nav .nav-list-item-link {
  font-size: 18px;
  font-weight: 400;
}

.hero {
  background: url("../images/hero.png") center/cover no-repeat;
  height: 646px;
  position: relative;
}

.hero__text {
  padding-top: 240px;
  padding-left: 68px;
  font-size: 72px;
  font-weight: 600;
  text-decoration: underline;
  color: #292e3d;
  width: 50%;
}

.hero__feature {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #3559c7;
  width: 416px;
  height: 190px;
  border-radius: 2px 2px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero__feature .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 56px;
  gap: 20px;
}
.hero__feature .content h4 {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  text-decoration: underline;
}
.hero__feature .content p {
  font-size: 24px;
  text-decoration: underline;
  text-align: center;
  color: #fff;
}

.buttons-container {
  display: flex;
  width: 100%;
  align-self: flex-end;
}
.buttons-container .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 20px;
  gap: 10px;
  background-color: #292e3d;
  flex: 1 1 50%;
}
.buttons-container .btn span,
.buttons-container .btn i {
  color: #fff;
  font-size: 18px;
}

.reputation {
  margin-top: 80px;
  margin-bottom: 84px;
}
.reputation .section-title {
  text-align: center;
  margin-bottom: 50px;
}

.reasons-container {
  display: flex;
  padding: 0 104px;
  gap: 66px;
}
.reasons-container .reason {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 18px;
  background-color: #fff;
  border: 1.4px solid #e0e3eb;
  border-radius: 4px;
  width: 292px;
  height: 198px;
  padding: 20px 20px 40px 20px;
}
.reasons-container .reason i {
  font-size: 40px;
  color: #f9995d;
}
.reasons-container .reason h4 {
  font-size: 20px;
  font-weight: 700;
  color: #3d445c;
}
.reasons-container .reason p {
  color: #858ead;
  font-size: 16px;
  font-weight: 400;
}

.about-us {
  padding: 160px 0;
}
.about-us .container {
  position: relative;
}

.about-us__content {
  position: absolute;
  top: 74px;
  right: 0;
  background-color: #2947a9;
  width: 488px;
  height: 524px;
  box-shadow: 0px 20px 24px -4px rgba(17, 24, 39, 0.1), 0px 8px 8px -4px rgba(17, 24, 39, 0.04);
  border-radius: 2px;
  padding: 50px 60px 60px 40px;
}
.about-us__content h4 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}
.about-us__content p {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  margin-top: 38px;
  margin-bottom: 74px;
}
.about-us__content button {
  background-color: #fff;
  color: #2947a9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  gap: 10px;
  border: 2px solid #2947a9;
  border-radius: 6px;
}

.services {
  padding: 44px 108px 76px;
  background-color: #f6f8f7;
}
.services .section-title {
  text-align: center;
  margin-bottom: 36px;
}

.services-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px 98px;
}
.services-container .service-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 180px;
  padding: 20px;
  gap: 20px;
  box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
  border-radius: 4px;
  color: #2947a9;
}
.services-container .service-card:nth-of-type(even) {
  background-color: #2947a9;
  color: #fff;
  box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
}
.services-container .rectangle {
  width: 60px;
  height: 2px;
  background-color: #e0e3eb;
}

.bottom {
  padding-top: 85px;
  padding-bottom: 80px;
}
.bottom h3 {
  color: #2947a9;
  font-weight: 500;
  font-size: 20px;
}

.bottom-wrapper {
  display: flex;
  justify-content: space-between;
}

.bottom-left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.bottom-left__text {
  display: flex;
  gap: 34px;
}
.bottom-left__text:nth-child(2) {
  gap: 56px;
}
.bottom-left__text:nth-child(3) {
  gap: 65px;
}
.bottom-left__text span {
  font-size: 20px;
  color: #292e3d;
}
.bottom-left__logo {
  display: flex;
  gap: 14px;
}

.footer {
  background-color: #2947a9;
  height: 70px;
}
.footer p {
  line-height: 70px;
  color: #fff;
  font-size: 19px;
}

/*# sourceMappingURL=index.css.map */
